/* -----Base----- */

* {
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  color: #2c3e50;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* -----Difficulty dropdown----- */

.difficulty-dropdown {
  margin-bottom: 25px;
}

/* -----Victory screen----- */

@keyframes hovering {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.victory {
  margin-top: 50px;
  padding: 50px;
  border: 2px solid #bdc3c7;
}

.victory__icon {
  font-size: 72px;
  animation: hovering 2s infinite;
}

.victory__points {
  color: #1abc9c;
  font-size: 24px;
}

.victory__new-game {
  background: #1abc9c;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
}

.victory__new-game:hover {
  background: #16a085;
}

@keyframes fadeOutUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.increase {
  color: #1abc9c;
  margin: 0;
  opacity: 0;
  font-size: 48px;
}

.decrease {
  color: #e74c3c;
  margin: 0;
  opacity: 0;
  font-size: 48px;
}
