/* -----Base----- */

* {
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  color: #2c3e50;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* -----Layout----- */

.container {
  max-width: 500px;
  margin: 0 auto;
}

/* -----Victory screen----- */

@keyframes hovering {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.victory {
  margin-top: 50px;
  padding: 50px;
  border: 2px solid #bdc3c7;
}

.victory__icon {
  font-size: 72px;
  animation: hovering 2s infinite;
}

.victory__points {
  color: #1abc9c;
  font-size: 24px;
}

.victory__new-game {
  background: #1abc9c;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
}

.victory__new-game:hover {
  background: #16a085;
}

/* -----Board----- */

.board:after {
  content: "";
  display: table;
  clear: both;
}

/* -----Card----- */

.card {
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  float: left;
}

.card__sides {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card__side {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-display: flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 3px solid #ecf0f1;
}

.card__back {
  background: #bdc3c7;
}

.card__front {
  background: #1abc9c;
  transform: rotateY(180deg);
}

.card__sides--flipped {
  transform: rotateY(180deg);
}
